* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 1px solid #333;
  padding: 10rem 5rem;
  width: 45rem;
}

form {
  display: flex;
  flex-direction: row;
}

.input-value,
.btn {
  height: 3.5rem;
  padding: 5px;
  border: none;
  outline: 2px solid #ccc;
}

.input-value {
  width: 100%;
  font-size: 3rem;
}

.btn {
  cursor: pointer;
  color: #333;
  font-size: 1.7rem;
}

.message,
.game-left {
  margin: 1rem 0;
  font-size: 1.8rem;
  font-weight: bold;
}

.game-periods,
.scores {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score,
.highest-score {
  font-size: 2rem;
}

.score {
  margin-right: 1rem;
  color: #1188e9;
}

.highest-score {
  color: #a8187d;
}

.success {
  color: #18b82d;
}

.warning {
  color: #c6c91f;
}

.danger {
  color: #d81313;
}

.hidden {
  display: none;
}
